name: Build & Push Image
on:
  push:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

env:
  IMAGE_NAME: docker.io/azdyn7-ai/supplychain-poc
  TAG: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
           username: ${{ secrets.DOCKERHUB_USERNAME }}
           password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        id: build
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.TAG }}
          platforms: linux/amd64

      - name: Output digest
        run: |
          echo "digest=${{ steps.build.outputs.digest }}" >> $GITHUB_OUTPUT

      - name: Save digest artifact
        run: |
          echo "${{ env.IMAGE_NAME }}@${{ steps.build.outputs.digest }}" > image-ref.txt
        shell: bash

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: image-ref
          path: image-ref.txt


